@use "functions";
@use "variables";

@mixin result-row($lightest: #fff, $shadow: false) {
    display: flex;
    margin: 10px 0;
    color: darken($lightest, 80%);

    @if $shadow {
        box-shadow: 0 0 10px rgba(darken($lightest, 50%), .25);
    }
}

@mixin boxed($lightest: #fff, $shadow: false) {
    margin: 18px;
    background: $lightest;
    color: darken($lightest, 80%);

    @if $shadow {
        box-shadow: 0 0 10px rgba(darken($lightest, 50%), .25);
    }
}

@mixin more-btn($color) {
    padding: 8px;
    border-radius: 8px;
    color: functions.set-color($color);
    background-color: $color;
    text-decoration: none;
}

@mixin columns($cols: 3, $gutter: 18px) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    @media (max-width: variables.$break-point-mobile) {
        flex-direction: column;
    }

    .atd-cfi-cols__column {
        flex: 1 1 0;
        padding-left: $gutter;
        padding-right: $gutter;

        &.atd-cfi-cols-column__stretch {
            flex: 1 0 0;
        }

        &.atd-cfi-cols-column__half {
            width: 50%;
        }

        @for $i from 1 through $cols {
            &.atd-cfi-cols-column-#{$i} {
                flex: $i 1 0;

                @media (max-width: variables.$break-point-desk) {
                    flex: 1 1 0;
                }
            }
        }
    }
}