.atd-cfi-popover {
    &:hover {
        cursor: zoom-in;
    }
}

.atd-cfi-popover-overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    overflow-y: auto;
    overflow-x: auto;
    background-color: rgba(0, 0, 0, .5);

    &:hover {
        cursor: zoom-out;
    }

    .atd-cfi-popover-contents {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-height: 100%;

        .atd-cfi-popover-img {
            padding: 40px;

            img {
                max-width: none;
                max-height: none;
            }
        }
    }
}