@use "mixins";
@use "functions";
@use "variables";

$search-row-bg: #fff;
$search-row-btn-bg: #b10f26;

.atd-cfi-sr {
    margin: 10px 0;

    @media (max-width: variables.$break-point-tablet) {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .atd-cfi-sr__row {
        @include mixins.result-row($search-row-bg, true);

        @media (max-width: variables.$break-point-mobile) {
            flex-direction: column;
        }

        .atd-cfi-sr-row__img {
            flex: 1 0 0;
            max-height: 260px;
            background-color: rgba($search-row-bg, 50%);

            @media (min-width: variables.$break-point-mobile) {
                min-width: 25%;
            }

            > img {
                object-fit: cover;
            }
        }

        .atd-cfi-sr-row__details {
            flex: 3 0 0;
            padding: 18px;
            background-color: $search-row-bg;

            &, > p {
                line-height: 1.2em;
            }

            .atd-cfi-sr-row-details__title {
                a {
                    color: inherit;
                    text-decoration: none;
                }
            }
        }

        .atd-cfi-sr-row__actions {
            flex: 1 0 0;

            padding: 18px;
            text-align: right;
            background-color: $search-row-bg;

            .atd-cfi-sr-row-actions__logo {
                width: 100%;
                margin: 0 0 20px;
            }

            .atd-cfi-sr-row-actions__price {
                text-align: right;
                line-height: 1.2em;
                margin: 16px 0;

                > div {
                    font-size: 1.6rem;
                    font-weight: bold;
                }
            }

            .atd-cfi-sr-row-actions__btn {
                padding: 8px;
                border-radius: 8px;
                color: functions.set-color($search-row-btn-bg);
                background-color: $search-row-btn-bg;
                text-decoration: none;
            }
        }
    }
}