@use "variables";

.atd-cfi-sf {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;

    .atd-cfi-sf__col {
        flex: 20% 0 0;
        padding-left: 10px;
        padding-right: 10px;
        margin: 5px 0;

        @media (max-width: variables.$break-point-tablet) {
            flex: 50% 0 0;
        }
    }

    .atd-cfi-sf__btns {
        flex: 40% 0 0;

        @media (max-width: variables.$break-point-tablet) {
            flex: 50% 0 0;
        }

        .atd-cfi-sf-btns__btn-reset:not(:hover) {
            background-color: lighten(#000, 50%) !important;
        }
    }
}