@use "variables";

$btn-submit-bg: #fff !default;
$btn-submit-color: #000 !default;

.atd-cfi-sf {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  position: relative;

  .atd-cfi-sf__col {
    flex: 20% 0 0;
    padding-left: 10px;
    padding-right: 10px;
    margin: 5px 0;

    @media (max-width: variables.$break-point-tablet) {
      flex: 50% 0 0;
    }
  }

  .atd-cfi-sf__btns {
    flex: 40% 0 0;

    @media (max-width: variables.$break-point-tablet) {
      flex: 50% 0 0;
    }
  }

  #atd-cf-search-form-spinner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .25);
    display: flex;
    align-items: center;

    > .spinner-loader {
      font-size: 6px;
    }
  }
}