.atd-cfi {
    &__img-fluid {
        max-width: 100%;
        height: auto;
    }

    &__float-end {
        float: right;
    }

    &__ml-2 {
        margin-left: 1.2rem;
    }

    &__mb-2 {
        margin-bottom: 1.2rem;
    }

    &__mt-2 {
        margin-top: 1.2rem;
    }

    &__mw-60 {
        max-width: 60%;
    }

    &__mw-40 {
        max-width: 40%;
    }

    &__input {
        display: block;
        width: 100%;
        height: calc(1.5em + 0.75rem + 2px);
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
    }

    &__flex-1 {
        flex: 1;
    }

    &__hidden {
        display: none;
    }

    &__clearfix {
        clear: both;
    }

    &__align-start {
        text-align: left;
    }

    &__align-end {
        text-align: right;
    }
}